* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#9623fb, #4411a8);
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: rgb(255, 255, 255);
}
.intro h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
button {
  padding: 1rem 2rem;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1.5rem;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #ffcc33;
}

.message {
  display: flex;
  height: 50px;
  margin: 2rem auto;
}
.message h2 {
  margin: auto;
  font-weight: 500;
}

.score button {
  font-size: 1rem;
  padding: 5px 10px;
  flex: none;
  transform: none;
}
.score {
  /* margin-top: ; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.score h2 {
  font-size: 30px;
  font-weight: 200;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  body {
    width: 100%;
    background: linear-gradient(#9623fb, #4411a8);
    background-size: contain;
    display: flex;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .intro h1 {
    font-size: 25px;
    text-align: center;
  }
  .intro h3 {
    font-size: 15px;
    text-align: center;
    margin-top: 2rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
  }
  button {
    width: 50%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px 0;

    transition: all 0.1;
  }

  button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffcc33;
  }

  .message {
    display: flex;
    margin: 10px;
  }
  .message h2 {
    margin: auto;
    font-size: 15px;
  }

  .score button {
    font-size: 12px;
    padding: 5px 10px;
    flex: none;
    transform: none;
  }
  .score {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .score h2 {
    font-size: 18px;
    font-weight: 600;
  }
  .player-score {
    order: 1;
  }
  .computer-score {
    order: 2;
  }
  .score button {
    order: 3;
  }
}
